doctype html
head
    title Cola Test

    script(src="https://code.jquery.com/jquery-1.11.2.min.js")
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="http://marvl.infotech.monash.edu/webcola/cola.v3.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")

    script(src="libs.min.js")
    script(src="index.min.js")

body
    h1 Cola test

    button#link Link
    button#unlink(disabled) Unlink

    svg(width="960" height="590")#graph
